{{template "header.html" . }}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col">
            <h1>{{.Fields.SlackWorkspace}}</h1>
            {{if .Error}}
            <div class="alert alert-danger" role="alert">
                {{.Error}}
            </div>
            {{end}}
            <p>Please enter your email to receive the invitaton to join {{.Fields.SlackWorkspace}} Slack:</p>
            <form id="{{.FormID}}" action="/" method="POST" class="needs-validation">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="needs-validation" class="form-control" name="email" aria-describedby="emailHelp" required />
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <input type="hidden" name="token" value="{{.Token}}" required />
                {{- /* {{.CaptchaHTML}} (for version 2) */ -}}
                <div class="mb-3">
                    <p>By clicking "Submit" you agree to follow the {{.Fields.SlackWorkspace}} Slack
                        Community Guideines including the following Rules:</p>
                    <ol>
                        <li>You will not scrape {{.Fields.SlackWorkspace}} workspace or use it for testing
                            purposes (i.e. programmatically generate content);</li>
                        <li>You will not express abusive behaviour towards other
                            members of {{.Fields.SlackWorkspace}}.</li>
                    </ol>
                    <p>Failure to comply to these Rules and Guidelines will result in your
                        membership being revoked.</p>
                </div>
                {{.CaptchaHTML}}{{- /* for version 2.
                <button type="submit" class="btn btn-primary">{{.Fields.SubmitButton}}</button>
                */ -}}
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{{template "footer.html" . }}
